<div class="my-5 p-5">
  <h2>concatAll(), concatMap()</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | map()</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong>['Tech', 'Comedy', ´'News']
      </p>
      <hr>
      <ul id="elContainer11"></ul>

    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | map() + concatAll()</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong>['Tech', 'Comedy', ´'News']
      </p>
      <hr>
      <ul id="elContainer22"></ul>

    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | map() + concatAll = concatMap()</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong>['Tech', 'Comedy', ´'News']
      </p>
      <hr>
      <ul id="elContainer33"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | map() + concatAll = concatMap()</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong>['Tech', 'Comedy', ´'News']
      </p>
      <hr>
      <ul id="elContainer44"></ul>
    </div>
  </div>

</div>
