<div class="my-3 p-5">
  <h2>exhaustMap()</h2>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <h3>Save Data </h3>
    </div>
  </div>

  <hr>
  <!-- Add Video Input -->

  <div class="row">
    <div class="col-md-5 mr-auto">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <button class="btn btn-success" #btn22>
             Save Data
          </button> &nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div  *ngIf="fetching22" class="text-center">
        <div class="spinner-border text-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div> Saving...
      </div>

      <ul class="video-list">
        <li><strong>Save Request: </strong> {{saveRequest22}}</li>
      </ul>
    </div>
  </div>





  <br>

</div>
