
<div class="my-3 p-5">
  <h2>retry(), retryWhen(), scan(), delay()</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <table class="table" *ngIf="person != null">
        <tr>
          <th>Id</th>
          <th>{{person.id}}</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>{{person.name}}</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>{{person.email}}</th>
        </tr>
        <tr>
          <th>Gender</th>
          <th>{{person.gender}}</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>{{person.phone}}</th>
        </tr>
        <tr>
          <th>Skill</th>
          <th>{{person.skill}}</th>
        </tr>
      </table>
    </div>
  </div>

  <button class="btn btn-primary"  (click)="fetchDetails22()" type="button" >
    <span *ngIf="fetching" class="spinner-border
     spinner-border-sm" role="status" aria-hidden="true">
    </span>
      {{ fetching ? 'Fetching...' : 'Fetch Details'}}
  </button>
  <br>
  <br>
  <p>
    Status: <strong [ngClass]="{'text-success' : status == 'Data Fetched',
                               'text-danger' : status == 'Problem in Fetching'
                                }"
             >{{status}}</strong>
  <span *ngIf="fetching" class="spinner-grow spinner-grow-sm text-warning" role="status">
      <span class="sr-only">Loading...</span>
  </span>
  </p>

</div>

