<div class="my-5 p-5">
  <h2>Concat</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech Channel(5)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech Videos List : </strong>1,2,3,4,5
      </p>
      <br>

    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Channel(3)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy Videos List : </strong>1,2,3
      </p>
      <br>

    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Channel(5)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos List : </strong>1,2,3,4
      </p>
      <br>
      <ul id="elContainer22"></ul>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your Channel (Subscriber)</div>
        <div class="card-body">
          <ul id="elContainer11"></ul>
        </div>
      </div>
    </div>

  </div>
</div>
