

<div class="row">
  <div class="col-md-12">
     <ul class="list">
       <li>
           <a routerLink="fromEvent">fromEvent() operator</a>
       </li>
       <li>
           <a routerLink="interval">interval() and timer() operator</a>
       </li>
       <li>
           <a routerLink="of-from">of() and from() operator</a>
       </li>
       <li>
           <a routerLink="to-array">toArray() operator</a>
       </li>
       <li>
           <a routerLink="custom">creating custom observable</a>
       </li>
       <li>
         <a routerLink="map">map() operator</a>
       </li>
       <li>
         <a routerLink="pluck">pluck() operator</a>
       </li>
       <li>
         <a routerLink="filter">filter() operator</a>
       </li>
       <li>
         <a routerLink="tap">tap() operator</a>
       </li>
       <li>
         <a routerLink="take">take(), takeLast(), takeUntil() operator</a>
       </li>
       <li>
         <a routerLink="retry">retry(), retryWhen(), scan(), delay() operator</a>
       </li>
       <li>
         <a routerLink="debouncetime">debouncetime(), distinctUntilChnaged() operator</a>
       </li>
       <li>
         <a routerLink="subject">Subject(), BehaviourSubject()</a>
       </li>
       <li>
         <a routerLink="replay-subject">ReplaySubject() </a>
       </li>
       <li>
         <a routerLink="async-subject">AsyncSubject() </a>
       </li>
       <li>
         <a routerLink="concat">concat() </a>
       </li>
       <li>
         <a routerLink="merge">merge() </a>
       </li>
       <li>
         <a routerLink="mergemap">mergeAll(), mergeMap()</a>
       </li>
       <li>
         <a routerLink="concatmap">concatAll(), concatMap()</a>
       </li>
       <li>
         <a routerLink="concat2">concatMap() prepend()</a>
       </li>
       <li>
         <a routerLink="switchMap">switchAll(), switchMap()</a>
       </li>
       <li>
         <a routerLink="switchMap-2">mergeMap(), concatMap(), switchMap()</a>
       </li>
       <li>
         <a routerLink="switchMap-finalVersion">switchMap() final Version</a>
       </li>
       <li>
         <a routerLink="exhaustMap">exhaustMap()</a>
       </li>
       <li>
         <a routerLink="shareReplay">shareReplay()</a>
       </li>
       <li>
         <a routerLink="combineLatest">combineLatest()  and withLatestForm()</a>
       </li>
       <li>
         <a routerLink="zip-forkjoin">zip() and frokJoin()</a>
       </li>



     </ul>
  </div>

</div>
