
<div class="my-5 p-5">
  <h2>Replay Subject</h2>
  <br>

  <div class="row">
    <div class="col">
      <h3>Add Video</h3>
    </div>
    <div class="col text-right">
      <button class="btn btn-warning"
       (click)="toggleMethod()">
        Toggle Method
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="!methodInterval22" class="row justify-content-center">
    <div class="col-md-4">
      <input type="text" class="form-control" #video22>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success"
              (click)="onAddVideo22(video22.value)">
        {{methodInterval22 ? 'Interval Started' : 'Add Video'}}
      </button>
    </div>
  </div>

  <hr *ngIf="!methodInterval22">

  <div class="row">

    <div class="col-md-4">
      <strong>User - 01</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let x1 of user1_List">
          <strong>Video :</strong>
          {{x1}}
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <strong>User - 02</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let x1 of user2_List">
          <strong>Video :</strong>
          {{x1}}
        </li>
      </ul>
      <button class="btn"
              [ngClass]="subscribe_Mode2 ? 'btn-danger' : 'btn-success'"
              (click)="user2_Subscribe()">
              {{subscribe_Mode2 ? 'Unsubscribe' : 'Subscribe'}}
      </button>
    </div>

    <div class="col-md-4">
      <strong>User - 03</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let x1 of user3_List">
          <strong>Video :</strong>
          {{x1}}
        </li>
      </ul>
      <button class="btn"
              [ngClass]="subscribe_Mode3 ? 'btn-danger' : 'btn-success'"
              (click)="user3_Subscribe()">
        {{subscribe_Mode3 ? 'Unsubscribe' : 'Subscribe'}}
      </button>
    </div>

  </div>
</div>
