

<div class="my-3 p-5">
  <h2>pluck() operator</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Pluck</strong>'Video' + data
      </p>
      <br>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <tr *ngFor="let x1 of data22">
          <th>{{x1}}</th>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <strong>Ex - 02</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Pluck</strong>Map Data
      </p>
      <br>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <tr *ngFor="let x1 of data33">
          <th>{{x1}}</th>
        </tr>
      </table>

    </div>
    <div class="col-md-12">
      <strong>Ex - 03</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Pluck</strong>map object data
      </p>
      <br>
      <ul id="elContainer22"></ul>
    </div>
  </div>
</div>
