

<router-outlet></router-outlet>






<!-- Observable Stream
    - User Input(Button Click Event)
    - Http Request
    - Array
    - Object

Observable Handle(subscribe)
    - Data
    - Error
    - Completion


    .subscribe(
        (data) => console.log(data),
        (error) => console.log(error),
        () => console.log('Complete')
    )

                     //  Note:  after .subscribe() we will get and do 3 type of data steps
                     //  1 (data)
                     //  2 (error)
                     //  3  ('complete)
     -->
