
<div class="my-3">
  <h2>Of and From operator</h2>
  <br>
  <strong>Ex - 01 (of - operator)</strong>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <p class="bg-light border rounded py-2 px-2">
        <strong>showing Data: of</strong>('sunny','manny','bunny'
      </p>
      <hr>
      <ul id="elContainer22"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light border rounded py-2 px-2">
       <strong>showing object type data as key-value pairs</strong>
      </p>
      <hr>
      <ul>
        <li><strong>a :</strong>{{obsMsg.a}}</li>
        <li><strong>b :</strong>{{obsMsg.b}}</li>
        <li><strong>c :</strong>{{obsMsg.c}}</li>
      </ul>
    </div>
  </div>
</div>


 <strong>Ex  2  ( from . operator) </strong>
 <hr>
  <div class="row">
    <div class="col-md-4">
       <strong>Array</strong>
       <hr>
       <p class="bg-light border rounded py-2 px-2">
         <strong>showing Data: from</strong>('sunny','manny','bunny'
       </p>
       <hr>
       <ul id="elContainer33"></ul>
    </div>

    <div class="col-md-4">
      <strong>Promise </strong>
      <hr>
      <p class="bg-light border rounded py-2 px-2">
        <strong>showing Data: from</strong>convert promise to a  Observable
      </p>
      <hr>
      <ul id="elContainer44"></ul>
    </div>

    <div class="col-md-4">
      <strong>Promise </strong>
      <hr>
      <p class="bg-light border rounded py-2 px-2">
        <strong>showing Data: from</strong>convert string to a  Observable
      </p>
      <hr>
      <ul id="elContainer55"></ul>
    </div>

  </div>
