

.red{
  background: red
}
.green{
  background: green
}
.blue{
  background: blue
}
.yellow{
  background: yellow
}
.violet{
  background: violet
}
.purple{
  background: purple
}
.grey{
  background: grey
}
