<div class="my-3">
  <h2>ShareReplay</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <strong>Products : <span class="text-primary">Laptop</span></strong>
      <hr>

      <div class="row">
        <div class="card" *ngFor="let item of laptops | async">
          <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <small>Id: {{item.id}}</small>
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.type}}</h6>
            <p class="card-text">{{item.description}}</p>
            <div class="d-flex align-items-center">
              <strong>Price: {{item.price}}</strong>
              <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <strong>Products : <span class="text-warning">Mobile</span></strong>
      <hr>

      <div class="row">
        <div class="card" *ngFor="let item of mobiles | async">
          <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <small>Id: {{item.id}}</small>
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.type}}</h6>
            <p class="card-text">{{item.description}}</p>
            <div class="d-flex align-items-center">
              <strong>Price: {{item.price}}</strong>
              <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row all-products">
    <div class="col-md-12">
      <strong>All Products</strong>
      <hr>

      <div class="row">
        <div class="card" *ngFor="let x1 of allProducts22 | async">
          <img src="{{x1.imgUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <small>Id: {{x1.id}}</small>
            <h5 class="card-title">{{x1.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{x1.type}}</h6>
            <p class="card-text">{{x1.description}}</p>
            <div class="d-flex align-items-center">
              <strong>Price: {{x1.price}}</strong>
              <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

